.about-reasons-list {
  color: var(--silver-white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-reasons-list li {
  font-weight: bold;
  padding: 1vw 0;
}

.about-reasons-list li span {
  font-weight: normal;
}

.about-reasons-list {
  text-align: justify;
}

.title {
  text-align: center;
}

.about-title {
  text-align: center;
}

/* ---------- Media Query for bigger screens ----------- */
@media only screen and (min-width: 1200px) {
  .about-reasons-list li {
    font-size: 1vw;
  }  
}