/* 
    Name: VAISHAKH ANIL KUMAR
    C#: C0877469
    DATE: 2023 - 12 -06
*/

/* Importing about Theme */
@import url(theme.css);


.contact-info-container {
    text-align: center;
}

.title {
    margin-top: 5vh;
    font-size: 4vw;
    color: var(--silver-white);
}

.contact-info-container .subtitle {
    font-size: 2vw;
    margin-left: 12vw;
    line-height: 1;
}


/* Contact Page styling */
.page-title-v1 .contact-title {
    display: flex;
    flex-direction: column;
    line-height: 80px;
}

.page-title-v1 .contact-title span {
    font-size: 3.25rem;
    display: inline;
    margin-left: 15vw;
}

form {
    color: var(--silver-white);
    width: 40%;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-container {
    width: 20vw;
    height: 20vw;

    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.product-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

.form-description {
    font-size: 1rem;
    text-align: left;
}

legend {
    font-size: 2rem;
}

label {
    font-size: 1.25rem;
}

select:hover,
input[type="date"]:hover {
    cursor: pointer;
}

input,
textarea,
select {
    border: 1px solid #000;
    color: var(--silver-white);
    padding: 10px 10px;
}

.model-container,
.user-info-container,
.color-container,
.interface-container,
.material-container {
    margin-bottom: 40px;
}

.model-selection-container,
.customer-name,
.customer-contact {
    display: flex;
    margin: 20px 0;
}


.model-selection-container div select,
.customer-name div input,
.customer-contact div input {
    /* margin-left: 2vw; */
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.model-selection-container div:nth-child(2),
.customer-name div:nth-child(2),
.customer-contact div:nth-child(2) {
    margin-left: 3vw;
}

.material-container,
.interface-container {
    display: flex;
    flex-direction: column;
}

.material-container div label,
.interface-container div label {
    margin-left: 20px;
    transition: color 0.5s ease-in-out;
}

.material-container div label:hover,
.material-container div input:hover,
.interface-container div label:hover,
.interface-container div input:hover {
    cursor: pointer;
    color: var(--gold);
}

.date-container,
.query-container {
    display: flex;
    flex-direction: column;
}

.query-container {
    margin-top: 20px;
}

.date-container input {
    width: 200px;
}

.date-container input,
.query-container textarea {
    margin-top: 20px;
}

.submit-button {
    width: 200px;
    padding: 15px;
    background-color: #fff;

    border: 3px solid var(--gold);
    color: var(--gold);
    font-size: 1rem;

    transition: all 0.25s ease-in-out;
}

.submit-button:hover {
    box-shadow: 1px 1px 2px #000;
    transform: scale(1.02);
    background-color: white;
    cursor: pointer;
}

.reset-button {
    width: 200px;
    padding: 16px;
    border: 3px solid red;
    font-size: 1rem;
    background: none;
    color: red;
    margin-left: 20px;
    transition: all 0.25s ease-in-out;
}

.reset-button:hover {
    box-shadow: 1px 1px 2px #000;
    cursor: pointer;
    transform: scale(1.02);
}

.required {
    color: red;
}



/* --------- Media Query for Tablets --------------- */
@media only screen and (min-width: 761px) and (max-width: 1200px) {
    form {
        width: 80%;
    }
    .contact-info-container .title {
        font-size: 3.5rem;
    }

    .contact-info-container .subtitle {
        font-size: 3rem;
    }
}

/* --------- Media Query for large Mobiles --------------- */
@media only screen and (min-width: 600px) and (max-width: 760px) {
    form {
        width: 80%;
    }
    .contact-info-container .title {
        font-size: 2.5rem;
    }

    .contact-info-container .subtitle {
        font-size: 2rem;
    }
}

/* --------- Media Query for Mobile Devices ---------------- */
@media only screen and (min-width: 300px) and (max-width: 600px) {
    form {
        width: 90%;
        /* border: 2px solid red; */
    }
    .customer-name, .customer-contact {
        flex-direction: column;
    }

    .customer-name div:nth-child(2),
    .customer-contact div:nth-child(2) {
        margin-left: 0;
    }

    .submit-button,.reset-button {
        width: 98%;
        margin-bottom: 2vh;
        margin-left: 0;
    }
    
    .user-info-container {
        width: 85vw;
    }

    .customer-name input,
    .customer-contact input,
    .customer-query input, 
    .customer-query textarea{
        width: 100%;
    }

    .model-selection-container,
    .customer-name,
    .customer-contact {
        display: block;
    }

    .model-selection-container div:nth-child(2),
    .customer-name div:nth-child(2),
    .customer-contact div:nth-child(2) {
        margin-left: 0;
        margin-top: 5vw;
    }

    .contact-info-container {
        margin-bottom: 2rem;
    }

    .contact-info-container .title {
        font-size: 2.5rem;
    }

    .contact-info-container .subtitle {
        font-size: 2rem;
    }
}