.questionContainer {
    margin: 20px 0;
}

#FAQS, .list-title {
    color: #1051b8; 
}

.questionContainer p{
    text-align: left;
}

/* --------- Media Query for Tablets --------------- */
@media only screen and (min-width: 761px) and (max-width: 1200px) {
    .list-description {
        font-size: 1rem;
        padding-top: 10px;
    }
}

/* --------- Media Query for large Mobiles --------------- */
@media only screen and (min-width: 600px) and (max-width: 760px) {
    .list-description {
        font-size: 1rem;
        padding-top: 10px;
    }
}

/* --------- Media Query for Mobile Devices ---------------- */
@media only screen and (min-width: 300px) and (max-width: 600px) {
    .list-title {
        font-size: 1rem;
    }
    .list-description {
        font-size: 0.8rem;
        padding-top: 10px;
    }
}