/*
    Name: Vaishakh Anil Kumar
    Page: Media Styles
*/

/* importing themes */
@import url('theme.css');

.video-banner {
    width: 100vw;
    height: 65vh;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
}


.audio-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.customer-image {
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 50%;
}

.customer-card {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.customer-image {
    object-fit: cover;
}

.gallery-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.video-card {
    width: 35rem;
    height: 20rem;
    margin: 2rem;
}

.video-gallery-content {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.video-gallery {
    margin-bottom: 5rem;
}


/* --------- Media Query for Tablets --------------- */
@media only screen and (min-width: 761px) and (max-width: 1200px) {
    .medium-font {
        font-size: 2.25rem;
    }

    .video-banner {
        height: auto;
    }
 
}

/* --------- Media Query for large Mobiles --------------- */
@media only screen and (min-width: 600px) and (max-width: 760px) {
    .medium-font {
        font-size: 2.25rem;
    }
    .full-page-information .title {
        font-size: 3rem;
    }

    .video-banner {
        height: auto;
    }
}

/* --------- Media Query for Mobile Devices ---------------- */
@media only screen and (min-width: 300px) and (max-width: 600px) {
    .customer-card {
        padding: 0px;
        margin: 20px;
    }
    .medium-font {
        font-size: 1.25rem;
    }

    .video-card {
        height: auto;
    }

    .video-gallery-content {
        height: auto;
    }

    .video-banner {
        height: auto;
    }
}