.special-container {
    margin: 0 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specials-banner {
    object-fit: cover;
    width: 100%;
}

.specials-heading {
    text-align: center;
    font-size: 1.8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.specials-heading::after {
    content: '';
    display: block;
    height: 0.157vw;
    width: 15vw;
    border-radius: 20px;
    background-color: #1051b8; 
}

.weekly-product,
.weekly-sales {
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.specials-heading-container {
    width: 30%;
    align-self: center;
}

.weekly-product-container {
    position: relative;
    border-radius: 20px;
    margin: 2vw 0;
    overflow: hidden;
}

.weekly-product-image {
    width: 100%;
    height: 100%;
}

.image-background,
.description-container {
    position: absolute;
    width: 100%;
}



.description-container {
    bottom: 0;
    padding-bottom: 6vh;
    padding-left: 2vw;
}


.description {
    margin-left: 10px;
}

.weekly-product-container:hover {
    cursor: pointer;
}

.weekly-sales-container {
    margin: 6vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.sales-container {
    width: 30%;
    height: 60vh;
    background-color: #fff;
    margin: 20px;
    position: relative;
    border-radius: 20px;
    border: #06398c 5px solid;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sales-container:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 5px 0px #06398c; 
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.item-image {
    width: 70%;
    align-self: center;
}

.item-title {
    display: flex;
    flex-direction: column;
    align-self: center;
    line-height: 1.563vw;
}

.item-title span {
    text-align: right;
}

.item-description {
    width: 90%;
    text-align: justify;
    padding: 1.563vw 0px 0px 1.563vw;
    text-align: left;
    font-size: 1vw;
}

.weekly-small-font {
    font-size: 1vw;
}

.weekly-sales-font {
    font-size: 1.6vw;
}


/* --------- Media Query for Tablets --------------- */
@media only screen and (min-width: 761px) and (max-width: 1200px) {
    .sales-container {
        width: 30vw;
        height: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .weekly-sales-font {
        font-size: 2vw;
    }

    .weekly-small-font {
        margin-top:20px;
        font-size: 2vw;
    }

    .item-description {
        margin-top: 10px;
        font-size: 1vw;
        width: 90%;
        text-align: justify;
    }

    .specials-heading-container {
        width: auto;
        margin: 20px 0;
    }

    .specials-heading  {
        font-size: 2rem;
    }
}

/* --------- Media Query for large Mobiles --------------- */
@media only screen and (min-width: 600px) and (max-width: 760px) {
    .weekly-product-container .description {
        font-size: 2vw;
    }

    .sales-container {
        width: 80vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        padding: 20px;
    }

    .weekly-sales-font {
        font-size: 4vw;
    }

    .weekly-small-font {
        margin-top:20px;
        font-size: 3vw;
    }

    .item-description {
        margin-top: 20px;
        font-size: 2vw;
        width: 90%;
        text-align: justify;
    }

    .specials-heading-container {
        width: auto;
        margin: 20px 0;
    }

    .specials-heading  {
        font-size: 1.25rem;
    }
}

/* --------- Media Query for Mobile Devices ---------------- */
@media only screen and (min-width: 300px) and (max-width: 600px) {
    .weekly-product-container .description {
        font-size: 2vw;
    }
    
    .sales-container {
        width: 80vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        padding: 20px;
    }

    .weekly-sales-font {
        font-size: 4vw;
    }

    .weekly-small-font {
        margin-top:20px;
        font-size: 5vw;
    }
    .item-description {
        margin-top: 20px;
        font-size: 4vw;
        width: 90%;
        text-align: justify;
    }

    .specials-heading-container {
        width: auto;
        margin: 20px 0;
    }

    .specials-heading  {
        font-size: 1.25rem;
    }
}