.our-team {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10vh;
    color: #000;
}

.team-member-card {
    transition: transform 0.25s ease-in-out;
}

.about-title {
    text-align:center;
}


.team-member-card:hover {
    cursor: pointer;
    transform: scale(1.23);
}

.team-pic {
    width: 300px;
    height: 20rem;
    object-fit: cover;
}

.memeber-role {
    font-weight: 200;
}


/* ---------- Media Query for bigger screens ----------- */
@media only screen and (min-width: 1990px) {
    .team-pic {
        width: 20vw;
        height: 100%;
        object-fit: contain;
    }    

  }


  /* --------- Media Query for Tablets --------------- */
  @media only screen and (min-width: 761px) and (max-width: 1200px) {
    .team-member-card {
        margin: 2vh 2vw;
    }
    .our-team {
        justify-content: center;
    }

    .medium-font {
        font-size: 2.25rem;
    }

    .small-font {
        font-size: 1rem;
        display: block;
        text-align: center;
    }
  }
  
  /* --------- Media Query for large Mobiles --------------- */
  @media only screen and (min-width: 600px) and (max-width: 760px) {
    .team-member-card {
        margin-top: 10vh;
    }
    .team-member-card:hover {
        transform: none
    }
    .our-team {
        justify-content: center;
    }
    .medium-font {
        font-size: 2.25rem;
    }

    .small-font {
        font-size: 1rem;
        display: block;
        text-align: center;
    }
  }
  
  /* --------- Media Query for Mobile Devices ---------------- */
  @media only screen and (min-width: 300px) and (max-width: 600px) {
    .team-member-card {
        margin-top: 10vh;
    }

    .team-member-card:hover {
        transform: none
    }
    .our-team {
        justify-content: center;
    }

    .medium-font {
        font-size: 1.25rem;
    }

    .small-font {
        font-size: 0.7rem;
        display: block;
        text-align: center;
    }

  }