@import url('./theme.css');
@import url('./commoncomponets.css');

#training-title {
    color: #fff;
    text-align: center;
}

.about-title {
    text-align: center;
}

.description {
    color: #fff;
}

.table-container {
    margin-top: 2vw;
}

.video-banner {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.video-banner video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    margin: 2vw;
}

.training-table caption {
    color: #000;
    margin: 2rem 0;
    font-size: 2vw;
}

.training-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th,
td {
    color: #000;
    border: 3px solid #000;
    padding: 1vw;
}

td a {
    color: #000;
}


.training-table tr {
    background-color: #fff;  
    transition: background-color 0.25s ease-in-out;
}


.training-table tr:hover {
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    cursor: pointer;
}


/* -------------------------------------------------------------------- */

tr:hover th {
    color: #000;
    font-weight: bold;
}

.image-container {
    width: 100px;
    height: 100px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mobile-table {
    display: none;
}


.training-table caption {
    font-size: 1.25rem;
}


/* --------- Media Query for Mobile Devices ---------------- */
@media only screen and (min-width: 300px) and (max-width: 600px) {

        .training-title {
            text-align: center;
        }

        .table-container {
            width: 90vw;
            overflow-x: auto;
        }
        .table-container table {
            font-size: 0.5rem;
        }
}
